# Compiled JavaScript files
*/lib/**/*.js
*/lib/**/*.js.map

# TypeScript v1 declaration files
*/typings/

# Node.js dependency directory
*/node_modules/
*.local
*/*.local

# firebase specific files
*.log

# macos specific:
.DS_Store

# environment variables:
.env
*/.env


